<html>
	<h1>Overmatch</h1>

	
	<%= form_tag(controller: "pages", action: "search", method: "get") do %>
		<%= label_tag(:battletag, "Battletag: ") %>
	  	<%= text_field_tag(:battletag, 'Fulano#1234') %>
	  	<%= submit_tag("Search") %>
	<% end %>

	<p>We analized your profile and you most probably suck.</p>

</html>